<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h2>Menú</h2>
        <button id="close-btn" type="button">&times;</button>
     </div>

     <nav class="sidebar-nav">
        <a href="/dashboard" class="sidebar-link"> <img src="../../resources/dashboard.png" alt=""> Vista General </a>
        <a href="/operaciones" class="sidebar-link"> <img src="../../resources/data-processing.png" alt=""> Operaciones </a>
        <a href="/alertas" class="sidebar-link"> <img src="../../resources/warning.png " alt=""> Alertas </a>
        <a href="/buzon" class="sidebar-link"> <img src="../../resources/mail-box.png" alt=""> Buzon </a>
        <a href="/clientes" class="sidebar-link"> <img src="../../resources/user.png" alt=""> Gestion de Clientes</a>
        <a href="#" class="sidebar-link"> <img src="../../resources/documentation.png" alt=""> Reportes Regulatorios</a>
        <a href="#" class="sidebar-link"> <img src="../../resources/history.png" alt=""> Historial de Actividades</a>
    </nav>
    
     <nav class = "sidebar-bot"> 
        <a href="#" class="sidebar-link"> <img src="../../resources/setting.png" alt="" >Configuracion</a>
     </nav>
    </aside>