<header class="topbar"> 
  <div class="nav-left">
    <button id="menu-btn">
      <img src="/resources/menu.png" alt="">
    </button>

    <div id="logo">
      <h1>SVA - Sistema Alpha 1</h1>
    </div>
  </div>

  <div class="nav-right">
    <span id="clock" class="clock"></span>
    
    <div class="dropdown">
      <button id="dropdown-btn" class="dropdown-btn">
        Opciones ▾
      </button>
      <div id="dropdown-menu" class="dropdown-menu">
        <button class="dropdown-item">Perfil</button>
        <button class="dropdown-item">Configuración</button>
        <button class="dropdown-item">Cerrar sesión</button>
      </div>
    </div>
  </div>
</header>